.calibration {
	margin: 15px 0;
}

.calibration-question {
	margin: 4px 0;
	display: inline-block;
}

.calibration-answers {
	margin: 4px 0;
}

.calibration-answer {
	margin: 8px;
}

.calibration-answer:first-child {
	margin-left: 0;
}
