.content {
  padding: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.content p {
  line-height: 135%;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 42px;
  font-style: italic;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.info {
  font-style: italic;
  position: relative;
  margin: 5px 0;
}

.info::before {
  content: "\f059";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: #08e;
  position: absolute;
  left: -25px;
  top: 3px;
}

@media (max-width: 600px) {
  .content {
    padding: 5px;
  }

  h1 {
    margin-top: 10px;
  }

  .info::before {
    display: none;
  }
}