* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: #fafafa;
  font-size: 16px;
}

.fa {
  font-size: 14px;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.icon {
  margin: 0 4px;
}

.max-width {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

button[title]:not([title=""]) {
  cursor: help;
}

.input-table-info {
  vertical-align: top;
  border-collapse: collapse;
  padding: 0;
  margin: 15px 0;
}

.input-table-info td {
  padding: 8px 10px;
  margin: 0;
  font-size: 14px;
  border: 1px solid #ddd;
}

.input-table-info td:nth-child(2n+1),
.input-label {
  font-weight: bold;
  font-size: 14px;
  color: #07d;
  margin: 24px 0 4px 0;
}

.input-label {
  display: block;
  font-size: 16px;
}

.input-table-info td:nth-child(2n+1) {
  margin: 0;
}

.input-table-info td:nth-child(2n) {
  text-align: right;
}

.input-enum-option {
  padding: 6px 10px;
  border: 1px solid rgba(0,0,0,.05);
  margin: 5px;
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.input-enum-option input {
  margin: 0 6px 0 0;
  display: inline-block;
  line-height: inherit;
  transform: translateY(1px);
}

input {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

textarea {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 15px;
  white-space: pre-wrap;
}

.key {
  font-size: 13px;
  background: #eee;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom: 2px solid rgba(0,0,0,.2);
  padding: 2px 4px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  min-width: 20px;
  text-align: center;
  margin: 3px;
}

.validation-error {
  font-size: 12px;
  font-weight: bold;
  color: #d00;
}

.answer {
  padding: 8px;
}

.answer-meta {
  color: #888;
}

.answer-meta > * {
  display: inline-block;
  margin: 8px 16px 8px 0;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.no-display {
  display: none !important;
}

@media (max-width: 600px) {
  .no-mobile {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .mobile-only {
    display: none !important;
  }
}

@import "menu";
@import "content";
@import "list";
@import "actions";
@import "wizard";
@import "loader";
@import "login";
@import "pagination";
@import "dialog";