<div class="content input-view" id="answer">
    {{>experimentHeader}}
    {{#if constraints[0]}}
    <div id="answer-constraints">
        <label class="input-label">Constraints</label>
        <p class="input-help">
            The following constraints must not be violated.
        </p>

        <ul class="list">
        {{#each constraints}}
            <li>{{name}}</li>
        {{/each}}
        </ul>

    </div>
    {{/if}}

    <div class="input">
        {{#if answerType === "images"}}
        <label class="input-label">Answer</label>
        <input type="text" name="answer" value="{{toSubmit.answer}}" placeholder="Enter your image url here!">
        <div class="image-center">
            <img src="{{toSubmit.answer}}">
        </div>
        {{else}}
        <label class="input-label">Image</label>
        <textarea name="answer" value="{{toSubmit.answer}}" placeholder="Enter your answer here!"></textarea>
        {{/if}}
    </div>


    {{#if !isPreview}}
    <div class="actions-right actions-bottom">
        <span>You can hand in <b>{{answerReservations.length}}</b> more answers!</span>
        <button class="action action-constructive" on-click="submit">Hand in!</button>
        {{#if skipAllowed}}
        <button class="action action-destructive" on-click="skip">Skip</button>
        {{/if}}
    </div>
    {{/if}}
</div>