<div id="answer">
    {{>experimentHeader}}
    <div id="answer-constraints">
        <span>
            The following constraints must not be violated:
        </span>
        {{#each constraints}}
        <ul>
            <li>{{name}}</li>
        </ul>
        {{/each}}
    </div>
    {{#if answerType === "images"}}
    <div>
        <textarea name="answer" value="{{toSubmit.answer}}" placeholder="Enter your image url here!"></textarea>
    </div>
    <div id="answer-image">
        <div class="image"
             style="background-image: url('{{toSubmit.answer}}');
                    height: 200px;">
        </div>
    </div>
    {{else}}
    <div>
        <textarea name="answer" value="{{toSubmit.answer}}" placeholder="Enter your answer here!"></textarea>
    </div>
    {{/if}}

    <div id="images">
        {{#each pictures}}
        <div class="image"
             style="background-image: url('{{url}}');
                    height: 200px;">
        </div>
        <label>{{urlLicense}}</label>
        {{/each}}
    </div>

    {{#if !isPreview}}
    <span>You can hand in <b>{{maxAnswersToGive}}</b> more answers!</span>
    <button on-click="submit">Hand in!</button>
    {{#if skipAllowed}}
    <button on-click="skip">Skip</button>
    {{/if}}
    {{/if}}
</div>