<div id="calibrations">
    {{#each calibrations:i}}
    <div id="calibration-{{i}}" class='{{ calibrations[i].required ? "required" : ""}}'>
        <span>{{question}}</span>
        <div>
            {{#each answerOptions:j}}
            <label>
                <input type="radio" name="{{~/toSubmit.answerOptions[i]}}" id="{{calibrations[i].id}}-calibrationId-{{i}}-{{j}}" value={{id}}>
                {{option}}
            </label>
            {{/each}}
        </div>
    </div>
    {{/each}}
    <button on-click="submit">Go on!</button>
</div>