<div class="content" id="experiment">
    <div>
        {{#if showLogoutButton}}
        <div class="actions">
            <button type="button" on-click="logout()" class="action action-destructive">
                <i class="fa fa-sign-out icon"></i>
                <span>Logout</span>
            </button>
        </div>
        {{/if}}
        <h1>
            Available Experiments
        </h1>
        <ul class="experiment-list">
            {{#each experiments:i}}
            <li>
                <a href='{{.link ? .link : "#"}}' on-click="loadExperiment( .id, .link)">{{title}}</a>
                <div class="experiment-list-actions">
                    <button type="button" on-click='toggleExpanded(i)' class="action">
                        {{#if .expanded}}
                            <i class='fa fa-chevron-up icon'></i>
                            <span>Less</span>
                        {{else}}
                            <i class='fa fa-chevron-down icon'></i>
                            <span>More</span>
                        {{/if}}
                    </button>
                </div>
                {{#if .expanded}}
                <p class="info experiment-list-description">
                    {{{description}}}
                </p>
                {{/if}}
            </li>
            {{/each}}

            {{#if !experiments}}
            <li class="experiment-list-empty">
                <i class="fa fa-3x fa-flask"></i>
            </li>
            {{/if}}
        </ul>
    </div>
</div>
