<script id="email-view" type="text/html">
    <div id="email">
        <input placeholder="Enter your email" value="{{toSubmit.email}}">
        <button on-click="submit">Submit</button>
    </div>
</script>

<script id="calibration-view" type="text/html">
    <div id="calibrations">
        {{#each calibrations :i}}
        <div id="calibration-{{i}}">
            <span>{{question}}</span>
            <div>
                {{# answerOptions : j}}
                <label>
                    <input on-change="radioChange" type="radio" name="options-{{i}}" id="{{i}}-{{j}}" value={{id}}>
                    {{option}}
                </label>
                {{/}}
            </div>
        </div>
        {{/each}}
        <button on-click="submit">Submit</button>
    </div>
</script>

<script id="experiment-header" type="text/html">
    <h4>{{title}}</h4>
    <span>{{description}}</span>
</script>

<script id="answer-view" type="text/html">
    <!-- TODO max answers to give -->
    <div id="answer">
        {{>experiment-header}}
        <div id="answer-constraints">
        <span>
            The following constraints must not be violated:
        </span>
            {{#each constraints}}
            <ul>
                <li>{{name}}</li>
            </ul>
            {{/each}}
        </div>
        <div>
            <textarea name="answer" value="{{toSubmit.answer}}" placeholder="Enter your answer here!"></textarea>
        </div>
        {{#if answerType === "images"}}
        <div id="images">
            {{#each pictures}}
            <div class="image"
                 style="background-image: url({{url}});">
            </div>
            <label>{{urlLicense}}</label>
            {{/each}}
        </div>
        {{/if}}
        <button on-click="submit">Submit</button>
        <button on-click="skip">Skip</button>
    </div>
</script>

<script id="rating-view" type="text/html">
    {{>experiment-header}}
    <div id="ratings">
        {{#each answers :i}}
        <div id="rating-{{i}}">
            <textarea name="feedback" placeholder="Write a feedback! (optional)"></textarea>
            <div id="rating-options">
                <span>Please rate!</span>
                {{#each ratingOptions:j}}
                <label>
                    <input on-change="radioChange" type="radio" name="options-{{i}}" id="{{i}}-{{j}}" value={{id}}>
                    {{description}}
                </label>
                {{/each}}
            </div>
            <div id="rating-constraints">
                <span>
                    The answer has the following constraints.
                    Check all that are violated and do not apply for this answer.
                </span>
                {{#each constraints:j}}
                <label>
                    <input on-change="checkboxChange" type="checkbox" name="{{value}}-{{i}}" id="{{i}}-{{j}}">
                    {{name}}
                </label>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <button on-click="submit">Submit</button>
    <button on-click="skip">Skip</button>
</script>

<script id="finished-view" type="text/html">
    <span>You have finished all tasks. Thank you for participating!</span>
    <button on-click="next">Next!</button>
</script>