<div id="ratings">
    {{>experimentHeader}}
    {{#each answersToRate:i}}
    <div id="ratingId-{{id}}">
        <div id="answer-container">
            {{answer}}
        </div>
        <div id="rating-options-{{answersToRate[i].id}}" class='{{ answersToRate[i].required ? "required" : "" }}' >
            <span>Please rate!</span>
            {{#each ratingOptions:j}}
            <label>
                <input type="radio" name="{{~/toSubmit.ratings[i]}}" id="{{answersToRate[i].id}}-ratingId-{{i}}-{{j}}" value={{value}}>
                {{description}}
            </label>
            {{/each}}
        </div>
        <div id="rating-constraints">
            <span>
                The answer has the following constraints.
                Check all that are violated and do not apply for this answer.
            </span><br>
                {{#each constraints:j}}
                <label>
                    <input type="checkbox" name="{{~/toSubmit.constraints[i]}}" id="{{answersToRate[i].id}}-calibrationId-{{i}}-{{j}}" value="{{id}}">
                    {{name}}
                </label>
                {{/each}}

        </div>
        <textarea name="feedback" placeholder="Write a feedback for the author! (optional)" value="{{toSubmit.feedbacks[i]}}"></textarea>
    </div>
    {{/each answersToRate}}
</div>
<button on-click="submit">Hand in!</button>
{{#if skipAllowed}}
<button on-click="skip">Skip</button>
{{/if}}
